<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Mate</title>
</head>
<body>
    <h1>Welcome to Meal Mate!</h1>
    <p>Discover, create, and simplify your meal planning with us! </p>

<a href="/meals">Browse Meals</a>
<a href="/meals/new">Add New Dish</a>
</body>
</html>