<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Meal</title>
</head>
<body>
    <h1>Add a Meal!</h1>
    <form action="/meals" method="POST">
      <label for="name">Dish:</label>
      <input type="text" name="name" id="name" />
  
      <label for="isReadyToMake">Ready to Make?</label>
      <input type="checkbox" name="isReadyToMake" id="isReadyToEat" />
  
      <button type="submit">Add Meal</button>
    </form>
<a href="/meals/">Meals</a>
<a href="/Home">Home</a>
  </body>
</html>